html {
	box-sizing: border-box;
}

*, *:before, *:after {
	background-repeat: no-repeat !important;
	box-sizing: inherit;
	min-width: 0px;
	min-height: 0px;
}

body {
	align-items: center;
	color: #bbbbbb;
	background-color: #000000;
	display: flex;
	height: 100vh;
	font-family: sans-serif;
	font-size: 14px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.09s linear, opacity 0.18s linear;
	width: 100vw;
}

h1, h2, h3, h4, h5 {
	margin: 10px 0px;
}

p {
	margin: 8px 0px;
}

a, a:visited, a:active, a:hover {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}
a:hover {
	color: #5454ff;
}

button {
	background: #444444;
    border: none;
    color: #bbbbbb;
    font-size: 14px;
    padding: 4px 8px;
    text-transform: capitalize;
}

button:hover {
	cursor: pointer;
	background: #666666;
}

input {
	background-color: transparent;
    border: 1px solid #444444;	
	color: #bbbbbb;
	padding: 5px;
}

.content {
	display: flex;
	height: 100%;
	width: 100%;
}

#dashboard {
	flex: 0 0 auto;
	position: relative;
	overflow: hidden;
	width: 400px;
}

.dashboard-container {
	background-color: #222222;
	margin: 15px;
	padding: 10px 15px;
	position: absolute;
}

.dash-section {
	padding: 10px 5px;
}
.title {
	text-align: center;
}
.title h1 {	
	color: #c61717;
	font-size: 26px;
}
.title h5 {
	color: #535353;
}

.center {
	border-bottom: 1px solid #444444;
	border-top: 1px solid #444444;
}

.input-row p {
	align-items: baseline;
	display: flex;
}
.input-row .label {
	flex: 0 0 auto;
	font-weight: bold;
	font-size: 13px;
	width: 130px;
}
.input-row .value {
	flex: 1;
	margin-left: 10px;
}
.input-row .button-container {
	margin: 20px 0px;
	margin-left: 140px; // 150px like a label plus 10px for value margin-left
}
.button-container button {
	margin-right: 20px;
}

.instructions {
	font-family: monospace;
	font-size: 13px;
	margin: 10px 0px;
	text-align: center;
}
.instructions p {
	margin: 4px 0px;
}

.footer {
	color: #535353;
}

#canvas-placeholder {
	border: 1px solid #222222;
	flex: 0 0 auto;
	margin: auto;
	overflow: hidden;
}